dist
build
binaries
temp
__pycache__
.gdb_history
*.pyc
*.o
*.so
*.a
*.pyc
*.swp
*.egg-info
*.i64
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.swp
*.dll
*.obj
*.lib
*.exp
*.pdb
*.ilk
.idea
*.egg-info
build
tags
MANIFEST
dist
.eggs
.vscode
*.swp
*.egg-info
*.idb
*.fcfg
.DS_Store 